.btn-primary {//primary button
    outline: none;
    appearance: none;
    background-color: $primary;
    color: $secondary;
    border: 1.5px solid $tertiary;
    border-radius: 5px;
    padding: .375rem .75rem;
    transition: box-shadow 300ms ease-out;
   cursor: pointer;
    &:focus{
        box-shadow: 0 0 2px 3px $primary;
        transition: box-shadow 300ms ease-out;
    }
svg{
    margin-right: 0.5rem;
}

}

.btn-secondary{
    background-color: white;
    color: $primary;
}
a.btn-primary{
    text-decoration: none;
    display: inline-block;
}

.btn-cta{
    font-size: $fs-400;
}


.close{//wrapper for close button
    display: flex;
    justify-content: flex-end;
    margin-block: $spacer-2;
}
.btn-close{//close button
   background: transparent url("../../assets/img/icons/close.svg") center/1.5em auto no-repeat;
    border: 0;
    border-radius: .375rem;
    padding: .25em .25em;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    opacity: .5;
    &:hover{
        opacity: 1;
    }
}
