.popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: grid;
    place-items: center;
    padding: $spacer-3;
    scale: .5;
    opacity: 0;
    transition: scale 300ms ease-out, opacity 300ms ease-out;
    pointer-events: none;
}
.popup-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .btn-close{
        font-size: 1rem;
        display: flex;
        align-items: center;
    }
}
.popup-body{
    position: relative;
    background-color: $primary-1000;
    padding: $spacer-3;
    border-radius: $border-radius;
    border: 1px solid $tertiary;
    width: 100%;
    max-width: 500px;
    h2{
        text-align: center;
        font-size: $fs-600;
    }
    .button-section{
        width: 100%;
    }

}
.popup-active{
    opacity: 1;
    scale: 1;
    pointer-events: all;

}

//add response class to the form and fade out
.popup-body-success{
    opacity: .75;
    transition: opacity 500ms ease-out;
    pointer-events: none;
}


