//hide google recaptcha
.grecaptcha-badge{
    visibility: hidden;
}

//Links 
a{
    color: $secondary;
    opacity: 1;
    transition: opacity 300ms ease-out;
    display: inline-block;
    &:focus{
        outline-color: $tertiary;
        outline: 2px solid;
        outline-offset: 3px;
        text-decoration: none;
    }
    &:hover{
        text-decoration: none;
        opacity: 0.8;
        transition: opacity 300ms ease-out;
    }
}

