//hero containers, basic one for all pages, padding to bring content down below the nav bar
.hero{
    padding: calc($nav-height + 3rem) 0 10rem;//padding same height as nav bar
    //bg image
    position: relative;
    background-image: url("../../assets/img/hero/hero.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $tertiary;
    h1, p{
        text-shadow: 2px 2px 4px rgb(77, 77, 77);
    }
    h1, .hero-subtitle{
        font-size:$fs-800;
        
        @media(min-width:$md){
            font-size: $fs-900;
        }
        @media(min-width:$lg){
            font-size: $fs-1000;
        }
    }
    .hero-subtitle{
        font-weight: 300;
    }
    p{
        font-size: $fs-400;
        font-weight: 400;
        color: rgb(242, 242, 242);
        
    }
}

.hero-grid{//grid to place items 
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}
.hero-text{
    place-self: center;
    text-align: center;
}

